*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}
:root{
    /*## Colors

    ### Primary*/

    --Purple-50: hsl(260, 100%, 95%);
    --Purple-300: hsl(264, 82%, 80%);
    --Purple-500: hsl(263, 55%, 52%);

    /*### Neutral*/

    --White: hsl(0, 0%, 100%);
    --Grey-100: hsl(214, 17%, 92%);
    --Grey-200: hsl(0, 0%, 81%);
    --Grey-400: hsl(224, 10%, 45%);
    --Grey-500: hsl(217, 19%, 35%);
    --Dark-blue: hsl(219, 29%, 14%);
    --Black: hsl(0, 0%, 7%);

    /*font-size*/
    font-size: 62.5%;
}

body{
    background-color: var(--Grey-200);

    font-family: "Barlow Semi Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 1.3rem;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem 2rem;
}

.card-container{
    max-width: 330px;
}

.card {
  padding: 3rem;
  border-radius: 0.6rem;
  border: none;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: all 0.2s ease;
  margin-bottom: 2rem;

  max-width: 375px;
}

.card:hover {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  transform: translateY(-4px);
}

.card-container .card:nth-child(1) {
      background-color: var(--Purple-500);
      color:var(--White)
}

.card-container .card:nth-child(1) p{
    color: var(--Purple-300);
}

.card-container .card:nth-child(1) .card-avatar{
    border: 3px solid var(--Purple-300);
}

.card-container .card:nth-child(2) {
      background-color: var(--Grey-500);
      color: var(--White);
}
.card-container .card:nth-child(2) p {
    color: var(--Grey-200);
}
.card-container .card:nth-child(3) {
      background-color: white;
      color: var(--Grey-400);
}

.card-container .card:nth-child(3) h2{
    color: var(--Grey-500);
}

.card-container .card:nth-child(4) {
      background-color: var(--Dark-blue);
      color: var(--White);
}

.card-container .card:nth-child(4) .card-avatar{
    border: 3px solid var(--Purple-500);
}

.card-container .card:nth-child(5) {
      background-color: white;
      color: var(--Grey-400);
}

.card-container .card:nth-child(5) h2{
    color: var(--Grey-500);
}

.card-avatar{
    border-radius: 50%;
    /*border: 3px solid red;*/
}

.card-info{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-bottom: 2rem;
}

.card-content h2{
    margin-bottom: 1.5rem;
    letter-spacing: 0.2px;
}


@media (min-width:720px) {
  .card-container {
    max-width: 1440px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 1.5rem;
  }

  .card{
        max-width: none;
    }

  /* Card 1 */
  .card-container .card:nth-child(1) {
    grid-column: 1 / 3;
    grid-row: 1;
  }

  /* Card 2 */
  .card-container .card:nth-child(2) {
    grid-column: 3 / 4;
    grid-row: 1;

  }

  /* Card 3 */
  .card-container .card:nth-child(3) {
    grid-column: 1 / 2;
    grid-row: 2;

  }

  /* Card 4 */
  .card-container .card:nth-child(4) {
    grid-column: 2 / 4;
    grid-row: 2;
  }

  /* Card 5 */ 
  .card-container .card:nth-child(5) {
    grid-column: 4 / 5;
    grid-row: 1 / 3;

  }
}
